//colors
$c-white: #fafafa;
$c-black: #232323;
$c-gray: #c4c4c4;
$c-accent: #5d7ff2;
$c-unAccent: rgba(35, 35, 35, 0.4);
$c-stroke-bubble: rgba(35, 35, 35, 0.05);

//shadows
$shadow-bubble: 0 2px 5px rgba(35, 35, 35, 0.05);
$shadow-blue: 0px 2px 5px rgba(93, 127, 242, 0.25);

//filters
$blur-primary: blur(25px);

//fonts
$f-primary: "Metropolis", sans-serif;
